<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReduxKitRxSwift-OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ReduxKitRxSwift-iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ReduxKitRxSwift-tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ReduxKitRxSwift-watchOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7398B00A1C25FEF5000ED3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7398B0141C25FEF5000ED3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7398B0291C25FF1F000ED3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7398B0361C25FF34000ED3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7398B03F1C25FF34000ED3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7398B0521C25FF4B000ED3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7398B05B1C25FF4B000ED3FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
